hr {
    margin: 50px 0;
}

hr.hr-style {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th:nth-child(1), td:nth-child(1) {
    width: 20%;
}

th:nth-child(2), td:nth-child(2) {
    width: 30%;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

button.add-btn, button.remove-btn {
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    height: 30px;
    width: 45%;
    color: #f5fbf1;
    background-color: #72e56e;
    padding: 2px 20px 2px 20px;
}

button.add-btn:hover {
    background-color: #4cc248;
    color: #333;
}

button.remove-btn {
    background-color: #dd4e4e;
}

button.remove-btn:hover {
    color: #333;
    background-color: #cf4949;
}