<body>
    <div class="main">
        <h1>Forgot Password?</h1>
        <h3>Get credentials via email</h3>
        <form action="">
            <label for="first">
                Email:
            </label>
            <input type="text" id="first" name="first" placeholder="Enter your Username" [(ngModel)] = "userData.email" required>

            <div class="wrap">
                <button type="submit" (click)="formSubmit()">
                    Submit
                </button>
                <button type="cancel" (click)="cancelFunction()">
                    Cancel
                </button>
            </div>

        </form>
    </div>
</body>