<div class="container">
    <header>
        <nav class="navbar">
            <ul class="list">
                <li><a href="/login">Login</a></li>
                <li><a href="/signUp">Signup</a></li>
                <li><a href="/forgotPassword">Forgot Password?</a></li>
            </ul>
        </nav>
    </header>

    <div class="middle-div">
        <div class="middle-div-container">
            <div class="text-area">
                <div class="h1-heading">
                    <h1 class="heading">The Crystal Cup</h1>
                    <p class="para">Family Restaurant</p>
                </div>
            </div>
            <div class="image-area">
                <img src="../../../assets/images/coffee.png" alt="coffee image">
            </div>
        </div>
    </div>

    <footer>
      <p>&copy; 2023 TheCrystalCup</p>
    </footer>
  </div>