.options-container {
    display: flex;
    border: 2px solid red;
}

.category, .product, .bill {
    flex: 1;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-container h2 {
    margin-bottom: 35px;
}

.details-btn { 
    padding: 10px; 
    border-radius: 10px; 
    margin-top: 0; 
    margin-bottom: 15px; 
    border: none; 
    color: white; 
    cursor: pointer; 
    background-color: #4CAF50; 
    width: 60%; 
    font-size: 16px; 
} 

.details-btn:hover {
    background-color: #66e66b;
    color: #333;
}